.navbar .navbar-nav 
{
	padding-right: 30%;
}

.navbar-brand
{
	margin-left:10%;
}

.move_login 
{
	margin-left:90%;
}

.nav-item .nav-link
{
	margin-left: :30%;
}

.modal
{

	padding-top:10%;
}

.modal-title
{
	padding-right:40%;
}
.close
{
	padding-right:30%;
}